<div class="page-header">
<h1>Anmelden</h1>
</div>


<div class="well well-large clearfix">
	<div class="span6">
		<p class="lead">
			Du hast dich bereits Registriert?
		</p>
		<p>Wenn nicht, dann solltest du das jetzt nachholen!</p>
		<%= link_to "Neu Registrieren", new_user_path, :class => "btn btn-success btn-large" %>
	</div>
	<div class="span6">
	<%= form_tag sessions_path, :class => "form-horizontal" do %>
	<div class="control-group">
		<%= label_tag 'email', nil, :class => "control-label"%>
		<div class="controls">
		<%= text_field_tag 'email', nil, :class => "text-field", :placeholder => "Email" %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag 'password', nil, :class => "control-label" %>
		<div class="controls">
			<%= password_field_tag 'password', nil, :class => "text-field", :placeholder => "password" %>
		</div>
	</div>
	<div class="form-actions">
		<%= submit_tag 'Sign In', :class => "btn btn-primary btn-xlarge" %>
	</div>
	<% end %>
	</div>
</div>
