
<%= form_for(:user, :url => user_registration_path) do |f| %>
  	<%= f.label :vorname %>
	<%= f.text_field :firstname, :id => "vorname" -%>
	<%= f.label :name %>				
	<%= f.text_field :name, :id => "name" %>
	<%= f.label :email %>
  	<%= f.email_field :email, :id => "email" %>
  	<%= f.label :telefon %>
	<%= f.text_field :phone, :id => "telefon" %>
	<%= f.label :geburtsdatum %>
	<%= f.text_field :date_of_birth, :id => "geburtstag" %>
	<%= f.label :fachbereich %> 
	<%= f.select :department, Department.all.collect {|d| [d.name, d.id] }, {:prompt => ' -- Fachbereich -- '}, :id => 'department' %>
  	<%= f.label :password %>
  	<%= f.password_field :password %>
  	<%= f.label :password_bestätigung %>
  	<%= f.password_field :password_confirmation %></div>
	<%= f.label :captcha %>
	<%= f.text_field :captcha %>
	<%= f.button "ich bin dabei" %>
<% end %>
