<div class="admin_links">
	<%= link_to("index", admin_path ) %> 
	<% if @user %>
	  &nbsp; | &nbsp;  <%= link_to(@user.department.name, admin_show_department_path(@user.department))%>
	<% end %>
</div>
