<div class="page-header">
	<h1>Welcome Admin</h1>
</div>

<div class='row-fluid'>
  
  <div class='span6'>
    <div class='well well-large'>
      <p class="lead">
        Es gibt derzeit <%= User.where(:role_id => Role.find_by_name('applicant')).count %> Bewerbungen.
      </p>
	    <p>
	    <ul>
	    <% Department.all.each do |dept| %>
		    <li><%= dept.users.count %> in <%= link_to dept.name, admin_show_department_path(dept.id) %></li>
	    <% end %>
	    </ul>
	    </p>
    </div>
  </div>

  <div class='span6'>
    <div class='well well-large'>
      <%= link_to 'AdministratorInnen', admin_users_path, class: 'btn btn-primary' %>
    </div>
  </div>

</div>

<div class="well well-large">
	
		<p class="lead">Export</p>
		<%= button_to "Angenommene BewerberInnen als CSV-Datei/Excel", accepted_as_csv_path, :method => :get, :class => "btn btn-info btn-large" %> 
		<%= button_to "Abgelehnte BewerberInnen als CSV-Datei/Excel", rejected_as_csv_path, :method => :get, :class => "btn btn-inverse btn-large" %>
	
</div>


