<div class="well well-large">
	<div class="span6">
		<%= render('admin_links') %>
	</div>
	<div class="span6">
		<% if @user.decision_made? %>
		<p class="lead">
			BewerberIn <span class="label <%= @user.accepted? ? 'label-success' : 'label-important' %>"><%= @user.accepted? ? 'angenommen' : 'abgelehnt' %>!</span>
		</p>
		<% else %>
		<p class="label label-warning">
			Entscheidung über Annahme steht noch aus - siehe unten
		</p>
		<% end %>
	</div>
</div>

<section class="clearfix">
	<div class="span6">
		<div id="portrait">
			<%= image_tag @user.portrait.url(:normal), :class => "img-polaroid" %>
		</div>
		<h1><%= @user.name %></h1>
		<p>Registriert am: <%= @user.created_at.strftime("%d.%m.%y") %></p>
		<p>Basisdaten</p>
		<ul>
			<li><%= @user.email%></li>
			<li><%= @user.phone %></li>
			<li><%= @user.date_of_birth.strftime("%d.%m.%Y")%></li>
		</ul>
	</div>
	
	<div class="span6">
	<p>Die Bewerbung scheint <%= @user.record_complete? ? "vollständig" : "unvollständig" %> zu sein.</p>
  
	<p>
		<% missing = missing_records_for(@user) %>
		<% unless missing.empty? %>
		<strong>Zu dieser Bewerbung fehlt potentiell noch: </strong>
		<ul>
			<% missing.each do |m| %>
				<li><%= m %></li>
			<% end %>
		</ul>
		<% end %>
	</p>

	<% if @user.record && @user.record.attachments? %>
		<p><strong>Zur Bewerbung wurde hochgeladen: </strong>
		<ul>
			<% if @user.record.primary? %>
				<li>Bewerbungsbogen: <%= truncate(name_for_attachment(@user.record.primary)) %> <%= link_to('download', @user.record.primary.url ) %></li>
			<% end %>
			<% if @user.record.common_task? %>
				<li>Allgemeiner Teil: <%= truncate(name_for_attachment(@user.record.common_task)) %> <%= link_to('download', @user.record.common_task.url) %></li>
			<% end %>
			<% if @user.record.specific_task? %>
				<li>Fachspezifischer Teil: <%= truncate(name_for_attachment(@user.record.specific_task)) %> <%= link_to('download', @user.record.specific_task.url ) %></li>
			<% end %>
			<% if @user.record.image_archive? %>
				<li>ggfls. Fotoreihe: <%= truncate(name_for_attachment(@user.record.image_archive)) %> <%= link_to('download', @user.record.image_archive.url ) %></li>
			<% end %>
		</ul>
		</p>
	<% end %>
	<p><strong>Bewerbungsfilm:</strong>
    <br />
    <%= link_to @user.record.video_url, @user.record.video_url %> password: <%= @user.record.video_password %>
    <% if @user.department.name == 'Regie' %>
      <%= link_to @user.record.video2_url, @user.record.video2_url %> 
    <% end %>
	</p>
	<p><strong>Kommentar des Bewerbers:</strong></p>
	<p><%= h @user.record.comment %></p>
	</div>
</section>

<div class="form-actions">
  
	<% if @user.decision_made? %>
		<p>Bewerber_in angenommen: <%= @user.accepted? %></p>
		<%= link_to(admin_accept_user_path(:id => @user), :data => { :confirm => "Den/die BewerberIn annehmen?" }, :method => :put, :class => "btn btn-success") do %>
      <i class='icon-thumbs-up icon-white'> </i> BewerberIn annehmen
    <% end unless @user.accepted? %>
    <%= link_to(admin_reject_user_path(:id => @user), :data => { :confirm => "den/die BewerberIn ablehnen?" }, :method => :put, :class => "btn btn-inverse") do  %>
      
      <i class='icon-thumbs-down icon-white'> </i> BewerberIn ablehnen
    <% end if @user.accepted? %>
	<% else %>
    <p>Entscheidung steht noch aus!</p>
    <% if @user.record_complete? %>
      <%= link_to 'Versende einen Vollständigkeits-Hinweis', 
        admin_notify_complete_user_path(@user), method: :put, class: 'btn btn-warning' %>
      <% unless @user.notified_complete %>
        <p class='help-text'>Noch nicht über Vollständigkeit benachrichtigt.</p>
      <% end %>
    <% end %>
    
    <% if @user.record_complete? %>
      <%= link_to( admin_accept_user_path(:id => @user), :data => { :confirm => "Den/die BewerberIn annehmen?" }, :method => :put, :class => "btn btn-success" ) do %>
        <i class='icon-thumbs-up icon-white'> </i> BewerberIn annehmen
      <% end %>
    <% else %>
      <p class='text text-warning'>Bewerbung unvollständig - noch nicht annahmefähig.</p>
    <% end %>
    <%= link_to( admin_reject_user_path(:id => @user), :data => { :confirm => "Den/die BewerberIn ablehnen?" }, :method => :put, :class => "btn btn-inverse") do %>
      <i class='icon-thumbs-down icon-white'> </i> BewerberIn ablehnen
    <% end %>
	<% end %>
	<%= link_to("BewerberIn löschen", admin_destroy_user_path(:id => @user), :data => { :confirm => "Den/die BewerberIn löschen?"}, :method => :delete, :class => "btn btn-danger pull-right" )%>
</div>
