<div class="page-header">
	<h1><%= @department.name %></h1>
</div>

<div class="well well-large">
	<div class="span6">
		<%= render('admin_links') %>
	</div>
	<div class="span6">
		<p>
			Es gibt in diesem Department <%= @department.users.count %> Bewerbungen.
			( <%= @department.users.where("accepted=?", true).count %> angenommen,
			<%= @department.users.where("accepted=?", false).count %> abgelehnt und
			<%= @department.users.where("accepted IS ?", nil ).count %> noch nicht beschieden. )
		</p>
	</div>
</div>

<table class="table table-striped">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Email</th>
		<th>vom</th>
		<th>bestätigt?</th>
		<th>status</th>
		<th>Aktion</th>
	</tr>
	<% @department.users.each do |user| %>
	<tr>
		<td><%= image_tag user.portrait.url(:thumb) %></td>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<td><%= user.created_at.strftime("%d.%m.%y")%></td>
		<td><%= user.confirmed_at ? "ja" : "noch nicht" %></td>
		<td><%= user.record_complete? ? "vollständig" : "unvollständig" %> | <%= show_decision_status(user) %></td>
		<td><%= link_to('ansehen', admin_show_user_path(user), class: 'btn btn-primary' ) %></td>
	</tr>
	<% end %>
</table>

