<p class="lead">
	Bitte fülle das Formular aus, damit wir deine Bewerbung aufnehmen können.
</p>
<p>
	Die filmArche hat das Bewerbungsverfahren
	seit 2012 auf ein Online-Verfahren umgestellt.
</p>
<p>
	Das hilft, den organisatorischen Aufwand gering zu halten und enorme Mengen an Papier einzusparen.
</p>
<p>
	<span class="label label-info">Hinweis</span> Du kannst dich <strong>jetzt</strong> zur Bewerbung registrieren - und <strong>bis zum Ende der Frist</strong> deine Bewerbung hier vervollständigen.
	Die Bewerbungsaufgaben können hier abgerufen, bearbeitet und anschließend per Klick eingereicht werden. </p>
	<p><span class="label label-important">Wichtig</span> Bitte notiere dir das von dir angegebene Passwort und die Email Adresse. 
	Diese brauchst du, um dich hier auf der Anwendung authentifizieren zu können. 
</p>
<p class="lead">Zum Procedere<p>
<ol>
	<li>
		Download des editierbaren Bewerbungsformulars auf der Seite <a href="http://www.filmarche.de/studium/bewerbung/">filmArche</a> 
	</li>
	<li>
		Hier Anmelden zur Bewerbung.
	</li>
	<li>
		Upload des Formulars und vervollständigen der Bewerbungsunterlagen
	</li>
  <li>
    Sofern alle Unterlagen vollständig scheinen, wird dir das in deinem Account angezeigt.
  </li>
  <li>
    Die Auswahlkommission wird sich deiner eingereichten Unterlagen annehmen, sofern diese vollständig sind.
  </li>
</ol>
<p>
	Bei Problemen wende dich an: <a href="mailto:online.bewerbung@filmarche.de?subject=Probleme">online.bewerbung@filmarche.de</a>
</p>

<p>
	<span class="label label-important">Fristen</span> 
  Bis <strong>spätestens 15. Juni 2017</strong> müssen die Bewerbungsunterlagen hier vollständig sein.
</p>

<p>
	Die mündlichen Bewerbungsgespräche finden einen Monat nach dem Bewerbungsschluss statt.
	Zusagen bzw. Absagen werden den Bewerberinnen und Bewerbern rechtzeitig mitgeteilt.
</p>
<p>
	Die dreijährigen Lehrgänge in den Fachbereichen Drehbuch, Kamera, Montage, Produktion,
	Regie und Dokumentarfilmregie beginnen im Oktober.
</p>
