<article class="landing">
	<div class="hero-btn clearfix">
		<button type="button" class="btn btn-primary btn-large"  data-toggle="collapse" data-target="#ich-will">
			<h2>Ja, ich will!</h2>
		</button>
	</div>
	<div id="ich-will" class="collapse">
		<div class="well well-large clearfix">
			<div class="span6">
				<%= render(:partial => 'application_intro') %>
			</div>
			<div class="span6">
        <p class='text text-info'>Die Bewerbung für 2017 ist beendet. Schau doch im nächsten Jahr wieder vorbei! </p>
				<%#= render(:partial => 'users/register') %>
			</div>
		</div>
	</div>
</article>
