<article class="landing">

	<div class="hero-btn clearfix">
		<button type="button" class="btn btn-info btn-large "  data-toggle="collapse" data-target="#was-geht">
			<h2>Welche Studiengänge?</h2>
		</button>
	</div>

	<div id="was-geht" class="collapse">
		<div class="well well-large">
			<p class="lead">
				Eine Menge. Wir haben sechs Fachbereiche und Du musst Dich für einen entscheiden
			</p>
			<ul class="unstyled">
				<li>
					<h3>Regie</h3>
					<div class="department-content regie">
						<blockquote>
							<p>
								Was gibt einem Film seine Identität?
								<br>
								Warum ist etwas tragisch, komisch, tragikomisch?
								<br>
								Wie kann man schnell mal was in Ruhe erzählen?
								<br>
								Welche Stimmung herrscht in der Welt, welche am Set?
							</p>
						</blockquote>
						<p>
							Regie zu führen ist eine sowohl künstlerisch wie auch menschlich spannende, anspruchsvolle und herausfordernde Aufgabe, nicht nur, weil der Regisseur/die Regisseurin die künstlerische Leitung eines Filmteams übernimmt.
						</p>
						<p>
							Ausgehend von der inszenatorischen Werkinterpretation koordiniert die Regie die Kreativität der einzelnen Departments in eine bestimmte Richtung. Sie muss in der Rolle der Verantwortlichen nicht nur Überblick, Autorität und Nerven behalten, sondern dem Team auch als Ansprechpartnerin und Vertrauensperson permanent zur Seite stehen.
						</p>
						<p>
							Gleichzeitig ist die Arbeit mit den Schauspielern und Schauspielerinnen eine der wichtigsten Aufgaben der Regie.
						</p>
						<p>
							Im Rahmen des Studiums an der filmArche werden im Bereich Regie viele verschiedene Aspekte unterrichtet und Fähigkeiten vermittelt. Schauspielführung, Mise en Scène und Dramaturgie sind die drei großen Themenblöcke, die sich in regelmäßigen Abständen im Lehrplan wieder finden.
						</p>
						<p>
							Zusätzlich werden die Vorraussetzungen für kompetente Führung sowie filmisches Allgemeinwissen und die Fähigkeit zur konstruktiven Kommunikation mit den einzelnen Abteilungen während des gesamten Produktionsprozesses geschult.
						</p>
						<p>
							Die Studierenden werden sich daher auch mit Themen wie Psychologie am Set, Genre- und Filmgeschichte als auch den technischen Möglichkeiten und deren Neuerungen beschäftigen.
						</p>
						<p>
							Sämtliche Inhalte werden durch die Studierenden mithilfe zahlreicher Übungen und der Verwirklichung verschiedener Projekte während der gesamten Ausbildung zur Anwendung gebracht, um theoretisches Wissen zu festigen und praktische Kompetenzen zu erlangen.
						</p>
						<p>
							Wie alle anderen Lehrgänge an der filmArche gestalten auch die Regieklassen ihren Unterricht selbst. Als Orientierung dient das Curriculum Regie.
						</p>
					</div>
				</li>
				<li>
					<h3>Drehbuch</h3>
					<div class="department-content">
						<blockquote>
							<p>
								Was erhebt eine Geschichte zum Filmstoff?
								<br>
								Wodurch entsteht Spannung?
								<br>
								Wie werden Charaktere zu Identifikationsfiguren?
								<br>
								Welche Inhalte machen einen Film unvergesslich?
							</p>
						</blockquote>
						<p>
							Mit diesen und weiteren Fragen beschäftigt sich intensiv der Drehbuchlehrgang der filmArche: um starke Stoffe zu entwickeln und Drehbücher zu schreiben, die dann Grundlage des späteren Produktionsprozesses sind.
							Dabei gibt das Drehbuch dem Stoff eine Struktur, die später der Regie und Kamera sowohl Anhaltspunkte als auch Spielraum für die visuelle und darstellerische Umsetzung bietet.
						</p>
						<p>
							Die Drehbuchstudierenden entwickeln ein eigenes Repertoire an Ideen, Hintergründen und lebendigen Figuren, indem sie sich verschiedener Techniken wie Brainstorming, Visualisierungsübungen, Recherchen (Milieustudien, Interviews, Internet usw.) bedienen und diese Fertigkeiten in den individuellen, kreativen Schaffensprozess einzubinden lernen.
						</p>
						<p>
							An zahlreichen Film- und Drehbuchbeispielen werden neben dem klassischen dramatischen Dreiakter auch epische, episodenhafte, mythische und experimentelle Erzählformen untersucht.
							Gleichzeitig entwickelt der Drehbuchlehrgang eigene und gemeinsame Projekte kontinuierlich von der ersten Idee bis zum fertigen Drehbuch in verschiedenen Längen, Formaten und Genres.
						</p>
						<p>
							Wichtig ist jedoch nicht allein die Methodik, sondern auch der Inhalt der entstehenden Stoffe: die Studierenden der filmArche sollen mit ihren Geschichten das Leben aus unterschiedlichen Winkeln beleuchten und zu neuen Perspektiven finden.
						</p>
						<p>
							Deshalb wird sich der Drehbuchkurs auch mit filmgeschichtlichen und -gestalterischen Grundlagen, anderen Erzählformen wie Theater und Literatur auseinandersetzen und sich im dramaturgischen Handwerk üben. Seminare zu Berufskunde und Rechtsfragen runden den Kursplan ab und setzen das Gelernte in einen wirtschaftlich-rechtlichen Kontext.
						</p>
						<p>
							Wie alle anderen Lehrgänge an der filmArche gestalten auch die Drehbuchklassen ihren Unterricht selbst. Als Orientierung dient das Curriculum Drehbuch.
						</p>
					</div>
				</li>
				<li>
					<h3>Kamera</h3>
					<div class="department-content">
						<blockquote>
							<p>
								Wie künstlich ist die Wirklichkeit?
								<br>
								Welches Licht dramatisiert einen Zwiespalt?
								<br>
								Wieviel muss man zeigen, um alles zu sehen?
								<br>
								Wann darf das Böse in Schönheit sterben?
							</p>
						</blockquote>
						<p>
							Die Kamera präsentiert uns die Geschichte. Sie ist es, die die Perspektive auf den Kern des Filmes definiert, sie lenkt den Blick des Zuschauers und nimmt eine dezidierte Haltung zu den Figuren und zur Aussage des Filmes ein.
						</p>
						<p>
							Kameraleute bestimmen im Vorfeld des Drehs das Konzept und die Grundhaltung eines Filmes mit der Regie, wobei sie sowohl künstlerische und gestalterische Ziele als auch die technischen Möglichkeiten im Blick behalten. Während des Drehs leiten sie das visuelle Technikdepartment am Set und bündeln alle Ideen und Einschränkungen zu einem Stil.
						</p>
						<p>
							Der Lehrgang Kamera an der filmArche gliedert sich daher in zwei große und einen kleineren Themenbereich: Gestaltung und Technik sowie Organisation am Set.
						</p>
						<p>
							Bei der Kameratechnik wird der Schwerpunkt auf die zukunftsweisenden Entwicklungen der digitalen Aufzeichnungsverfahren und auf den kompetenten Umgang mit den vorhandenen gesetzt.
						</p>
						<p>
							Lichttechnik und Lichtgestaltung werden eng miteinander verknüpft, um die Theorie durch die Praxis zu verinnerlichen. Für die inhaltliche Auseinandersetzung mit filmischen Bildern soll als Grundlage ein fundiertes Wissen in Bildgestaltung, Kunst und Filmgeschichte erarbeitet werden. Die Organisation am Set wird zudem bei zahlreichen praktischen Gelegenheiten geschult werden können.
						</p>
						<p>
							Ziel ist, dass die Absolvent/innen der filmArche ihre persönliche filmische Bildersprache gefunden haben und zugleich in der Lage sind, sich auf das Publikum ihres Filmes einzustellen.
						</p>
						<p>
							Wie alle anderen Lehrgänge an der filmArche gestalten auch die Kameraklassen ihren Unterricht selbst. Als Orientierung dient das Curriculum Kamera
						</p>
					</div>
				</li>
				<li>
					<h3>Montage</h3>
					<div class="department-content">
						<blockquote>
							<p>
								Wie strukturiert man einen Film gegen die Norm?
								<br>
								Welche Bedeutung haben zufällig wirkende Bilder?
								<br>
								Wann erzählt man durch Weglassen mehr?
								<br>
								Warum verändert der Schnitt eine Haltung?
							</p>
						</blockquote>
						<p>
							Schneiden, viel eher: Montieren, bedeutet, visuelle Geschichten und Bedeutungen zu erzählen und herauszugeben. In einem schöpferischen Prozess fertigt der Editor/die Editorin aus den Ingredienzien der Bilder, Geräusche und der Musik einen in sich stimmigen Film.
						</p>
						<p>
							Der Lehrgang Montage/Schnitt versteht sich als Labor – ein fächerübergreifendes Arbeitsfeld.
							Gemeinsam mit Regie, Kamera und Produktion forschen die Studierenden nach subjektiver und objektiver Film-Zeit, nach Szenen- und Gesamtrhythmus.
						</p>
						<p>
							Sie experimentieren mit unterschiedlichen Mustern und Metaphern der Filmsprache, mit Akzent und Ironie. Für ihre Arbeit brauchen sie sowohl Geduld und Präzision wie auch Musikalität und visuelle Vorstellungskraft, umfassendes technisches Wissen und dramaturgisches Handwerk.
						</p>
						<p>
							Ähnlich den Drehbuchautor/innen setzen sich auch die Studierenden des Montage/Schnitt mit Filmdramaturgie und -geschichte auseinander und ziehen Vergleiche zu klassischen Erzählformen wie Literatur und Theater.
						</p>
						<p>
							Ausgehend von einer fundierten technischen Basis (Digitalschnitt) werden sie gemeinsam mit den anderen Lehrgängen an Projekten arbeiten und eigenständig Filmszenen entwickeln.
						</p>
						<p>
							Seminare zu Themen wie Mischung, Digitales Compositing und elektronische Bildbearbeitung vervollständigen das Programm und bereiten die Studierenden auf die Zusammenarbeit mit anderen Departments der Postproduktion vor.
						</p>
						<p>
							Wie alle anderen Lehrgänge an der filmArche gestalten auch die Montageklassen ihren Unterricht selbst. Als Orientierung dient das Curriculum Montage/Schnitt.
						</p>
					</div>
				</li>
				<li>
					<h3>Dokumentarfilmregie</h3>
					<div class="department-content">
						<blockquote>
							<p>
              Wie zeigt man Realität im Film? <br />
              Wo liegt die Grenze zwischen Fiktion und Nonfiktion? <br />
              Lieber Fliege an der Wand oder Mikro unter der Nase?
							</p>
						</blockquote>
            <p>
            <p>
              Seit 2012 gibt es an der filmArche einen eigenständigen Lehrgang der Dokumentarfilmregie. Und nicht ohne Grund.
            </p>
            <p>
              EinE DokumentarfilmerIn beteiligt sich oft auf allen Ebenen an ihrem Projekt; ist AutorIn , Bezugsperson der ProtagonistInnen, hält auch mal selber die Kamera und ist bei der Montage dabei. Um Dokumentarfilme zu machen, braucht es vielseitige Fähigkeiten, aber auch einen eigenen Blick auf Mensch und Gesellschaft und Aufmerksamkeit für besondere Geschichten in der Welt.
            </p>
            <p>
              Im Umgang mit Menschen, die sich selbst im Film zeigen, ist ein gutes Gefühl für die Grenzen Anderer und die eigenen Grenzen wichtig.
            </p>
            <p>
              Im Rahmen des Studiums an der filmArche werden im Bereich Dokumentarfilmregie alle Aspekte des Filmemachens reflektiert und erlernt. Im theoretischen Teil erarbeiten sich die Studierenden das Wissen über die Geschichte des Genres, stellen Fragen zu Authentizität und Ethik, untersuchen sowohl klassische als auch experimentelle Formen der Dramaturgie und lernen technische Aspekte des Filmemachens. Im praktische Teil wird dieses Wissen umgesetzt und eingeübt. Von der Recherche, dem Kontakt zu möglichen ProtagonistInnen über das schreiben von Exposees und Treatments, dem beantragen von Fördergeldern bis hin zur Regie beim Dreh wird während des Studiums theoretische und praktische Kompetenzen erlangt.
            </p>
            <p>
              Ihr lernt, Film im Team umzusetzen und arbeitet im Laufe des Studiums mit den anderen Lehrgängen zusammen.
            </p>
            <p>
              Wie alle Lehrgänge an der filmArche gestalten auch die Dokumentarfilmklassen ihren Unterricht selbst. Als Orientierung dient das Curriculum Dokuregie.
            </p>
            </p>
					</div>
				</li>
				<li>
					<h3>Produktion</h3>
					<div class="department-content">
						<blockquote>
							<p>
								Was muss ein Film haben, um erfolgreich zu werden?
								<br>
								Womit kann man Menschen von seiner Idee überzeugen?
								<br>
								Wie lässt sich ohne Budget ein grosser Film realisieren?
								<br>
								Welche Art Filme wollen wir zeigen und vor allem warum?
							</p>
						</blockquote>
						<p>
							Die Produzent/innen gestalten die Filmlandschaft durch Auswahl und Leitung von Projekten mit. Sie vermitteln zwischen den ideellen Ansprüchen der Regie und den Anforderungen, die Markt und Publikum an einen Film stellen. Künstlerische, geschäftliche und gesellschaftspolitische Erwägungen sind für die Produzent/innen an der filmArche dabei untrennbar miteinander verbunden.
						</p>
						<p>
							Unser Schwerpunkt liegt deshalb neben den Grundlagen der Filmfinanzierung und -organisation auf einer genauen Kenntnis der Medienlandschaft. Für diese Arbeit benötigen Produzent/innen Weitblick, Verantwortungsbewusstsein und Menschenkenntnis, aber auch ein gutes Gefühl für Geschichten und visuelle Gestaltung.
						</p>
						<p>
							Außerdem bedeutet Produzieren auch, durch eine stimmige Organisation künstlerische Arbeit zu ermöglichen. Das erfordert ein breites Basiswissen über alle Aspekte der Filmherstellung und -gestaltung.
						</p>
						<p>
							Wir werden uns einerseits mit Themen der Film- und Kunstgeschichte beschäftigen und in Fragen der Dramaturgie und Besetzung schulen; andererseits werden wir ganz praktisch Projekte realisieren. Im Austausch mit professionellen Produzent/innen, Firmen, Veranstaltern und Sendeanstalten knüpfen wir Kontakte und lernen, Filmproduktionen in betriebswirtschaftlicher Hinsicht (Kalkulation, Aquise, Verträge, Vertrieb etc.) abzuwickeln.
						</p>
						<p>
							In Zusammenarbeit mit den anderen Arbeitsgruppen initiieren und begleiten wir Projekte und geben den verschiedenen Departments ein kritisch-konstruktives Feedback.
						</p>
						<p>
							Wie alle anderen Lehrgänge an der filmArche gestalten auch die Produktionsklassen ihren Unterricht selbst. Als Orientierung dient das Curriculum Produktion.
						</p>
					</div>
				</li>
        <li>
          <h3>Stipendium</h3> 
          <div class='department-content'>
            <p>
		          Ab dem Studienjahr 2017 schreiben wir erstmals ein Stipendium für eine/e
              Studierende(n)
              an der filmArche e.V. aus.
            </p>
            <p>
              Zielgruppe dieser Förderung sind dabei Menschen mit
              Fluchthintergrund oder Alleinerziehende. Um Euch für unser Stipendium zu
              bewerben, schickt uns bitte ein kurzes, formloses Schreiben an unsere
              Geschäftsführung.<br> 
              Email: geschaeftsfuehrung@filmarche.de<br>
              Für weitere Fragen steht Euch unsere Geschäftsführung ebenfalls gerne zur Verfügung.
            </p>
          </div>
        </li>
			</ul>
      
		</div>
	</div>
</article>
