<article class="landing">
	

		<div class="hero-btn clearfix">
			<button type="button" class="btn btn-info btn-large"  data-toggle="collapse" data-target="#wie-wo-was">
				<h2>filmArche? Was ist das besondere?</h2>
			</button>	
		</div>

		<div id="wie-wo-was" class="collapse">
			<div class="well well-large">
			<p class="lead">
				Die filmArche bietet ein dreijähriges Studium in den sechs Fachbereichen Drehbuch,
				Regie, Kamera, Montage, Produktion und Dokumentarfilmregie.
			</p>
			<p>
				Ihre Besonderheit ist die Selbstbestimmung in der Lehre und die Selbstorganisation des Unterrichts.<br>
				Im Unterschied zu anderen Filmhochschulen gibt es bei uns keine Altersbegrenzung nach oben; das Mindestalter liegt bei 21 Jahren. Ebenso ist ein Abitur keine zwingende Voraussetzung.
				Die Kurse erarbeiten gemeinsam die Inhalte des Lehrplans und passen ihn an ihre Bedürfnisse an.
				Sie bestimmen, welche Schwerpunkte sie legen.
			</p>
			<p>
				Es gibt keine festangestellten Dozent/innen. Jeder Kurs bekommt monatlich ein Budget, von dem er externe Profis
				aus Theorie oder Filmpraxis in den Unterricht einladen kann. Zu Anfang werden die Kurse von den älteren Jahrgängen
				intensiv betreut und in die Selbstorganisation eingeführt.
			</p>
			</div>
		</div>
	
</article>
