<div id="page-header">
	<header class="clearfix">
		<a href="/"><h1><img src="/assets/archeLogoEmboss.png" alt="filmArche Logo"><span class="secondLine">Bewerbung 2017</span></h1></a>
		<h2>Hallo <%= @user.firstname %> <%= @user.lastname %>!</h2>
	</header>
</div>
<div class="well well-large">
	<h3>Es ist fast geschafft!</h3>
	<p class="lead">
		Wir haben Deine Bewerbung registriert - bitte schau in das Postfach der von dir angegebenen Email-Adresse - 
		und bestätige deine Bewerbung, in dem du den darin beschriebenen Link klickst.</p>
		<p>
		Manchmal kann es sein, dass die Zustellung der Email etwas dauert. Sofern du nicht binnen 2 Stunden eine Mail bekommen hast, dann wende dich hierzu an:<br />
		online.bewerbung@filmarche.de </p>
		<p>
		<span class="label label-info">have a nice day...</span> 
	</p>
</div>

