<div class="page-header heading">
<%= image_tag 'archeLogoEmboss.png'%><br />
<h1>Bewerbung 2017</h1>
</div>


<section class="landing-text">
	<%= render(:partial => 'wie_wo_was') %>
</section>
<section class="landing-text">
	<%= render(:partial => 'was_gibts') %>
</section>
<section class="landing-text">
  	<%= render(:partial => 'mitmachen') %>
</section>

