
Hallo <%= @greeting %>
==================================================

Deine Unterlagen zur Bewerbung 2017 scheinen vollständig zu sein.

Wir bitten dich jetzt noch um ein wenig Geduld und hoffen dich bei 
den im Juni/Juli stattfindendenAuswahlgesprächen dabei zu haben.

