
Hallo <%= @greeting %>
==================================================

du hast dich zur Bewerbung 2017 an der FilmArche registriert - 
das freut uns! 

Um sicherzustellen, dass diese Bewerbung von dir kommt, 
bitten wir dich den unten angegebenen Link zu besuchen.

Erst dann kannst du deine Bewerbungsunterlagen online 
noch bis 31. Mai vervollständigen.

Nach dem Besuch des Links kannst du dich jederzeit mit 
deiner angegebenen Email-Adresse und deinem angegebenen 
Passwort auf der Bewerbungsseite anmelden.

Hier klicken:

<%= @confirmation_link %>

wenn der Link für dich nicht klickbar ist, dann kopiere diesen und füge ihn in die 
Adresszeile deines Browsers ein.
