<% if current_user %>
	<li><%= button_to "abmelden", log_out_path, :class => "btn btn-inverse btn-small nav-btn", :method => :get %></li>
	<li><%= button_to 'meine Bewerbung', profile_path , :class => "btn btn-primary btn-small nav-btn", :method => :get unless current_user.role.name == "admin" %></li>
	<li><%= button_to "administration", admin_path, :class => "btn btn-important btn-small nav-btn", :method => :get if current_user.role.name == "admin" %></li>
<% else %>
	<li><%= button_to "Anmelden", new_session_path, :class => "btn btn-primary btn-small nav-btn", :method => :get %></li>
<% end %>
