<%= form_for(@user, :html => { :css => 'form-horizontal'}) do |f| %>

<% if @user.errors.any? %>
<div class="alert alert-error">
	<strong><%= pluralize(@user.errors.count, "error") %> verhinderten eine Registrierung:</strong>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="control-group">
	<%= f.label :vorname, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :firstname, :id => "vorname", :class => "input-xlarge" -%>
	</div>
</div>
<div class="control-group">
	<%= f.label :name, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :lastname, :id => "name", :class => "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :email, :class => "control-label" %>
	<div class="controls">
		<%= f.email_field :email, :id => "email", :class => "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :telefon, :class => "control-label"%>
	<div class="controls">
		<%= f.text_field :phone, :id => "telefon", :class => "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :geburtsdatum, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :date_of_birth, :id => "geburtsdatum", :class => "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :fachbereich, :class => "control-label" %>
	<div class="controls">
		<%= f.select :department_id, Department.all.collect {|d| [d.name, d.id] }, {:prompt => ' -- Fachbereich -- '}, :id => 'department', :class => "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password %>
	<div class="controls">
		<%= f.password_field :password, :class => "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password_bestätigung, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password_confirmation, :class => "input-xlarge" %>
	</div>
</div>
<div class="form-actions">
	<%= f.button "abschicken", :class => "btn btn-primary pull-right" %>
</div>
<% end %>
