<section id="aboutArche">
	<%= render(:partial => 'wie_wo_was') %>
</section>
<section id="courses" class="clearfix">
	<%= render(:partial => 'was_gibts') %>
</section>
<section id="mitmachen">
	<%= render(:partial => 'mitmachen') %>
</section>