
<h1>Listing users</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Date of birth</th>
    <th>Phone</th>
    <th>Mobile</th>
    <th>City</th>
    <th>Postcode</th>
    <th>Street</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.date_of_birth %></td>
    <td><%= user.phone %></td>
    <td><%= user.mobile %></td>
    <td><%= user.city %></td>
    <td><%= user.postcode %></td>
    <td><%= user.street %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>