<section class="register-form well well-large clearfix">
	<div class="span6">
		<%= render(:partial => 'applicants/application_intro')%>
	</div>
	<div class="span6">
		<%#= render(:partial => 'register') %>	
	</div>
</section>
