<div class="page-header heading">
	<div id="greetings"> 
		<h2>Hallo <%= @user.firstname %> <%= @user.lastname %>!</h2>
	</div>
</div>

<section id="profileInformation" class="well well-large clearfix">
	<div class="span6">
		<h3>Deine Angaben</h3>
		<p>
			Wenn sich ein Fehler eingeschlichen haben sollte, dann ändere bitte die Angaben.
		</p>
		<% unless @user.portrait? %>
		<p>
    <span class="label label-important">Achtung</span> 
    Du musst noch ein Portrait-Photo hochladen!
    Beachte bitte, dass dieses Photo geeignet für deinen künftigen Studierendenausweis ein sollte.  
		</p>
		<% end %>

		<%= image_tag( @user.portrait.url(:normal), :class => "img-polaroid" ) if @user.portrait?  %>
		<p>
			<%= link_to 'loeschen', remove_portrait_path, :method => :delete, :confirm => "Bild entfernen?", class: 'btn btn-danger' if @user.portrait? %>
		</p>
		<p>
			<% missing = missing_records_for(@user) %>
			<% unless missing.empty? %>
			<span class="label label-important">Zu deiner Bewerbung fehlt noch</span>
			<ul>
				<% missing.each do |m| %>
				<li>
					<%= m %>
				</li>
				<% end %>
			</ul>
			<% end %>
		</p>
		<% if @record.attachments? %>
		<p class="lead">
			Du hast bereits hochgeladen
		</p>
		<p>
			<ol>
				<% if @record.primary? %>
				<li>
					<%= truncate(name_for_attachment(@record.primary)) %> - <%= link_to('entfernen', remove_attachment_path(:att_type => 'primary'), :method => :delete, :confirm => "Datei loeschen?", class: 'btn btn-danger') %>
				</li>
				<% end %>
				<% if @record.common_task? %>
				<li>
					<%= truncate(name_for_attachment(@record.common_task)) %> -  <%= link_to('entfernen', remove_attachment_path(:att_type => 'common_task'), :method => :delete, :confirm => "Datei loeschen?", class: 'btn btn-danger') %>
				</li>
				<% end %>
				<% if @record.specific_task? %>
				<li>
					<%= truncate(name_for_attachment(@record.specific_task)) %> -  <%= link_to('entfernen', remove_attachment_path(:att_type => 'specific_task'), :method => :delete, :confirm => "Datei loeschen?", class: 'btn btn-danger') %>
				</li>
				<% end %>
				<% if @record.image_archive? %>
				<li>
					<%= truncate(name_for_attachment(@record.image_archive)) %> - <%= link_to('entfernen', remove_attachment_path(:att_type => 'image_archive'), :method => :delete, :confirm => "Datei loeschen?", class: 'btn btn-danger') %>
				</li>
				<% end %>
			</ol>
			<% end %>
		</p>

	</div>
	<div class="span6">
		<%= render(:partial => 'users/form') %>
	</div>
</section>

<section id="uploads2" class="well well-large clearfix">
	<div class="span6">
		<p class="lead">
			Bitte lade hier folgende Dokumente hoch
		</p>
		<ul>
			<li>
				ausgefüllter Bewerbungsbogen
			</li>
			<li>
				Allgemeine Bewerbungsaufgaben in einem PDF
			</li>
			<li>
				Fachspezifische Bewerbungsaufgaben in einem PDF
			</li>
			<li>
				Fotoreihe als ZIP-Archiv - 
        Alle Fotos bitte als PNG oder JPG
			</li>
		</ul>

		<p>
			<span class="label label-info">Beachte</span> Für das Bewerbungsformular musst du einen PDF-Reader verwenden, der PDF-Formulare auch speichern kann.
			<br />
			Der Adobe Acrobat-Reader kann das <strong>nicht</strong>.
			<br />
			Darum verwende unter Windows bspw. den <a href="http://www.foxitsoftware.com/Secure_PDF_Reader/">FoxitReader</a> oder unter Mac OS X die 'Vorschau'.
		</p>

	</div>
	<div class="span6">
		<%= form_for( @record, :url => user_record_path(@user), :html => {:multipart => true}) do |f| %>

		<% if @record.errors.any? %>
		<div id="error_explanation">
			<strong><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</strong>
			<ul>
				<% @record.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="control-group">
			<%= f.label :primary, :class => "control-label" do %>
			Ausgefüllter Bewerbungsbogen
			<% end %>
			<div class="controls">
				<%= f.file_field :primary, :class => "input-xlarge"  %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :common_task, :class => "control-label" do %>
			Ein PDF-Dokument des allgemeinen Teils
			<% end %>
			<div class="controls">
				<%= f.file_field :common_task, :class => "input-xlarge"  %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :specific_task, :class => "control-label" do %>
			Ein PDF-Dokument des fachspezifischen Teils
			<% end %>
			<div class="controls">
				<%= f.file_field :specific_task %>
			</div>
		</div>

		<% unless @user.department.name == "Produktion" || @user.department.name == "Drehbuch" %>
		<div class="control-group">
			<%= f.label :image_archive, :class => "control-label" do %>
			Ein ZIP-Archiv der Foto-Reihe - bitte alle Photos als PNG oder JPG
			<% end %>
			<div class="controls">
				<%= f.file_field :image_archive %>
			</div>
		</div>
		<% end %>
		<div class="form-actions">
			<%= f.button 'abschicken', :class => "btn pull-right" %>
		</div>
		<% end %>
	</div>
</section>

<% unless @user.department.name == "Produktion" || @user.department.name == "Drehbuch" %>
<section id="video" class="well well-large clearfix">
	<div class="span6">
		<p class="lead">
			Bitte stelle deinen Bewerbungsfilm online bereit.
		</p>
		<p>
			Wir empfehlen Dir dazu vimeo. Dort kannst Du Deinen Bewerbungsfilm mit einem Passwort schützen.
		</p>
	</div>
	<div class="span6">
		<%= form_for(@record, :url => user_record_path(@user)) do |f| %>
		<div class="control-group">
			<%= f.label :video_link, 'URL - Bewerbungsfilm', :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :video_url, :class => "input-xlarge" %>
			</div>
		</div>
    <% if @user.department.name == 'Regie' %>
		<div class="control-group">
			<%= f.label :video2_link, 'URL - Arbeitsprobe', :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :video2_url, :class => "input-xlarge" %>
			</div>
    </div>
    <% end %>
    <div class="control-group">
			<%= f.label :password, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :video_password, :class => "text-field input-xlarge" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :comment, :class => "control-label" %>
			<div class="controls">
				<%= f.text_area :comment, :rows => 5, :class => "input-xlarge" %>
			</div>
		</div>

		<div class="form-actions">
			<%= f.button 'speichern', :class => "btn pull-right" %>
		</div>
		<% end %>
	</div>
</section>
<% end %>

<section id="drawback" class="well well-large">
	<p class="lead">
		Du hast es Dir anders überlegt?
	</p>
	<p>
		Du willst Dich doch nicht bewerben? Hier kannst Du Deine Bewerbung löschen.
	</p>
	<div class="form-actions">
		<%= button_to 'Meine Bewerbung löschen', user_record_path(:user_id => current_user.id), :confirm => "Dies löscht deine Bewerbungsunterlagen", :method => :delete, :class => "btn btn-danger" %>
	</div>
</section>

