<footer class="well well-small closing clearfix">
	<div class="span4">
		filmArche e.V.<br />
    Lahnstraße 25<br />
    12055 Berlin<br />
		Telefon: +49 (0) 30 616 26 911<br />
		Telefax: +49 (0) 30 364 61 780<br />
	</div>
	<div class="span3">
		E-Mail: <a href="mailto:info@filmarche.de">info@filmarche.de</a><br />
		Geschäftsführung: Aline Reinsbach<br />
		Vereinsregister: Amtsgericht Charlottenburg VR 21787<br />
			
	</div>
	<div class="span3">
		<a href="https://www.facebook.com/pages/filmArche/328954609917" target="_blank" id="facebookButton">Unsere Facebook-Seite</a>
		<a href="https://twitter.com/#!/filmArche" target="_blank" id="twitterButton">Wir bei twitter</a>
	</div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39623702-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
