// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red { color: red;}
.green { color: green;}
.decision { font-size: 20px; }
