/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


h1 {
  font-size: 300%;
  color: blue;
}
h2 {
  font-size: 166%;
}

.main {
	min-height: 600px;
}

.nav-btn {
	margin-top: 10px;
}
.heading {
	text-align: center;
	h1 {
		color:#005387;
	}
}

.landing {
	margin-bottom: 20px;
	.hero-btn {
		text-align:center;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 25px;
	}
}

.closing {
	font-size: 0.86em;
}

.field_with_errors {
	border-bottom: 1px solid red;
}

