<%= form_for([:admin,@admin_user]) do |f| %>
  <% if @admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

      <ul>
      <% @admin_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
	  <%= f.label :vorname, :class => "control-label" %>
	  <div class="controls">
		  <%= f.text_field :firstname, :id => "vorname", :class => "input-xlarge" -%>
  	</div>
  </div>
  <div class="control-group">
	  <%= f.label :name, :class => "control-label" %>
	  <div class="controls">
		  <%= f.text_field :lastname, :id => "name", :class => "input-xlarge" %>
	  </div>
  </div>
  <div class="control-group">
	  <%= f.label :email, :class => "control-label" %>
	  <div class="controls">
		  <%= f.email_field :email, :id => "email", :class => "input-xlarge" %>
	  </div>
  </div>

  <div class="control-group">
	  <%= f.label :password, :class => "control-label" %>
	  <div class="controls">
		  <%= f.password_field :password, :id => "email", :class => "input-xlarge" %>
	  </div>
  </div>
  <div class="control-group">
	  <%= f.label :password_confirmation, :class => "control-label" %>
	  <div class="controls">
		  <%= f.password_field :password_confirmation, :id => "email", :class => "input-xlarge" %>
	  </div>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    
  </div>
<% end %>
