<div class='page-header'>
  <h1>AdministratorInnen</h1>
</div>

<table class='table table-striped table-hover'>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Aktion</th>
  </tr>

<% @admin_users.each do |admin_user| %>
  <tr>
    <td><%= admin_user.fullname %></td>
    <td><%= admin_user.email %></td>
    <td>
      <div class='pull-right'>
      <%= link_to 'Edit', edit_admin_user_path(admin_user) , class: 'btn btn-warning'%>
      <%= link_to 'Destroy', admin_user_path(admin_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
    </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin', new_admin_user_path, class: 'btn btn-primary' %>
